body #home{
    border: 1px solid whith;
    height: 100%; 
    }
    body{ background:
    url(fundo.png),
   url(ruido.png),
   linear-gradient(80deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: 'FestivoLettersNo.1';
    }
    nav.navbar-transparente{
    padding: 13px 0px;
    background: rgba(0,0,0,0.6);
   }
   .navbar-light .navbar-nav .nav-link {
    color:rgb(10, 3, 3);
    }
   .navbar-light .navbar-nav .nav-link:hover {
    color:white;
   }
   h1{
   margin-bottom: 50px;
   color:rgb(223, 77, 77);
   }
   h2{
    font-size: 3em;
   font-weight: 700;
   font-family: 'FestivoLettersNo18';
   }
   p{text-align: justify;}
   h3{
    font-size: 2em;
   font-weight: 700;
   }
   #servicos{
    background:white;
   padding-top:50px;
   padding-bottom:20px;
   margin-top: 12%;
   }
   #recursos{
    
   padding-top:20px;
   padding-bottom:20px;
   }
   #recursos h2{
    color:purple;
   }
   #recursos h3{
    color:rgb(34, 0, 128);
   }
   .albuns{
    padding:10px 0px;
   }
   footer{
    background: #000;
   padding:50px 0px 20px 0px;
   align-items: center;
   text-align: center;
   }
   footer ul{
    list-style: none;
    text-align: center;
    align-items: center;
   }
   footer ul li{
    float:right;
   margin:0px 10px;
   text-align: center;
   align-items: center;
   }
   #rodape{
    text-align:center;
    margin: 2px auto;
    padding:-10px; 
    }
   @media (min-width: 576px) { 
    h1{
    font-size:3em}
    }
   @media (min-width: 768px) { 
    h1{
    font-size:4em}
    }
   @media (min-width: 992px) { 
    h1{
    font-size:5em}
    }
   @media (min-width: 1200px) {
    h1{
    font-size:6em}
    }
